#chat {
    height: 85vh;
}

.chat__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.chat__main {
    height: 80%;
}

.chat__messages {
    height: 80%;
    overflow-y: scroll;
    background-color: #ECEFF1;

    .left,
    .right {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 5px;
    }

    .left {
        justify-content: flex-start;
    }

    .right {
        justify-content: flex-end;
    }
    
    .message {
        padding: 10px;
        border-radius: 3px;
        background-color: #fff;
    }
}

.chat__header {
    background-color: #CFD8DC;
}

.chat__input {
    padding: 5px;
}
